* {
    box-sizing: border-box;
}

.alert-info {
    background-color: lightskyblue;
    text-align: center;
    height: 3em;
    line-height: 3em;
    border: 1px lightgrey solid;
}
.alert-info>a {
    text-decoration: none;
    color: black;
}
.alert-info a:hover{
    color: red;
}
body>h1 {
    text-align: center;
    font-size: 5em;
}
.nav-links {
    padding: 0;
    list-style: none;
    text-align: center;
}
.nav-links>li {
    background-color: lightslategray;
    padding: 1em;
    margin: 1em;
}
.nav-links a {
    font-size: 1.5em;
}
.header-img img {
    height: auto;
    min-width: 339px;
    max-width: 100%;
}

#social-media-links {
    display: flex;
    justify-content: flex-end;
}

#social-media-links>a {
    color: dimgray;
    padding: 15px;
    font-size: 3em;
}

#social-media-links a:hover {
    color: slategray;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width:934px) {
    .hidden-on-desktop {
        display: none;
    }

    .header-img {
        display: flex;
        justify-content: center;
        margin: 2em 0;
    }

    .header-img img{
        width: 100%;
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;

    }

    .nav-links li {
        background-color: white;
    }

    body>h1 {
        float: left;
        text-align: left;
        font-size: 5em;
        margin: 0;
    }

}
