* {
    box-sizing: border-box;
}

.alert-info {
    background-color: lightskyblue;
    text-align: center;
    height: 3em;
    line-height: 3em;
    border: 1px lightgrey solid;
}
.alert-info>a {
    text-decoration: none;
    color: black;
}
.alert-info a:hover{
    color: red;
}
body>h1 {
    text-align: center;
    font-size: 5em;
}
.nav-links {
    padding: 0;
    list-style: none;
    text-align: center;
}
.nav-links>li {
    background-color: lightslategray;
    padding: 1em;
    margin: 1em;
}
.nav-links a {
    font-size: 1.5em;
}
.header-img img {
    height: auto;
    min-width: 339px;
    max-width: 100%;
}
@media screen and (min-width:934px) {
    .hidden-on-desktop {
        display: none;
    }
    .header-img img{
        max-width: 890px;
        max-height: 385px;
    }
}
